@font-face {
    font-family: "tequilla";
    src: url("./fonts/tequilla.ttf") format("truetype");
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/background/new-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'tequilla', Arial, Helvetica, sans-serif;
}

.d-none{
    display: none !important;
}

.canvasDiv{
    position: relative;
    height: 100%;
}

.main{
    position: relative;
    height: 480px;
    width: 720px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.button {
    position: absolute;
    /* text-align: center; */
    top: 20px;
    cursor: pointer;
    
}
.button span {
    padding: 8px;
    /* background-color: orange; */
    background-image: linear-gradient(rgb(255,211,15), rgb(255,164,0));
    border-radius: 16px;
    border: 2px solid black;
    box-shadow: 2px 5px 10px;
    transition: background-image 1s ease-out 100ms
}

.button span:hover {
    background-color: rgb(157, 103, 3);
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    
}

.overlay img {
    width: 100%;
    height: 480px;
}
canvas {
    background-color: black;
}

.mobileBtn {
    display: none !important;
    position: relative;
    bottom: 65px;
    margin-left: 15px;
    margin-right: 15px;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.turnDevice {
    display: none;
}


/* @media (width < 800px) { */

/* @media all and (orientation:portrait) { */
  
    @media (max-width: 800px) and (orientation: portrait) {
  
    .turnDevice {
        display: block;
        text-align: center;
      
        padding: 30px;
}

.turnDevice img {
    width: 100%;
}
h1{
    display: none;
}
.main {
    display: none;
}

.keyboardDescription{
    display: none;
}
}

/* } */
@media (width < 720px) {
@media all and (orientation:landscape) {
    h1{
        display: none;
    }
    .keyboardDescription{
        display: none;
    }
    .main{
        width: 100%;
        height: 100%;
    }
    canvas{
        width: 100vw;
        height: 100vh;
    }

    .mobileBtn {
        display: flex !important;
    }
}
}